#title {
  background: #91091E;
}

/* font-family: 'Arbutus Slab', serif;
font-family: 'Montserrat', sans-serif; */
h1 {
  font-family: Arbutus Slab, serif;
}
h2 {
  font-family: Arbutus Slab, serif;
  color:#91091E;
  font-size: 1.5rem;
}
h3 {
  font-family: Arbutus Slab, serif;
  color:  white;
  font-size: 1.5rem;
}
h4 {
  font-family: Arbutus Slab, serif;
  color: #91091E;
  font-size: 1.5rem;
}
.container-fluid {
  background: #91091E;
}

.carousel .carousel-item img {
  height: 200px;
  object-fit: cover;
}

@media (min-width: 768px) {
.carousel .carousel-item img {
  height: 750px;
  object-fit: cover;
}
}

/*Navigation bar*/
.navbar {
  padding: .5rem 0 0.5rem;
}

.navbar-brand {
  font-family: "Arbutus Slab", serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 5px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Arbutus Slab", serif;
  font-weight: light;
  font-size: 1.5rem;
}
/* Projects */
#projects {
  padding: 3% 15%;
}
.logos {
  font-size: 5rem;
  color: #91091E;
}
.feature-box {
  padding: 5%;
}
#contact {
  background: #57acd3;
  padding: 3% 0%;
}
.contact-logo {
    color: white;
}
