#title {
  background: #91091E;
}

/* font-family: 'Hind', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */
h1 {
  font-family: Montserrat extra-bold 800, cursive;
}
h2 {
  font-family: Lato, cursive;
  color: #413C69;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 3% 15%;
}
/*Navigation bar*/
.navbar {
  padding: .5rem 0 0.5rem;
}

.navbar-brand {
  font-family: "Montserrat", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 5px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", cursive;
  font-weight: light;
  font-size: 1.5rem;
}
/* Carousel */
#carousel-about {
  text-align: left;
background-color: #A1CAe2;
}
.carousel-item {
  padding: 3% 30%;
}

.testimonial-image {
  padding: 3% 0 15%;
  width: 400px;
  height: 500px
}

/* Projects */
#projects {
  padding: 3% 15%;
}
.logos {
  font-size: 5rem;
  color: #91091E;
}
.feature-box {
  padding: 5%;
}
.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-us {
  background: #59886B;
}
